<div class="container-fluid textItem">
    <div class="row">
        <div class="col-xs-12">
            <h1>Studio Deeg</h1>
            <h2>Zo simpel kan het zijn</h2>
        </div>
        <div class="col-xs-12 col-md-6">
            <p>Studio Deeg ontwerpt en ontwikkeld websites met een passie voor interactie en user experience. </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-4 fillImages">
            <h3>Jan Koen Lomans</h3>
            <p>Website en huisstijl</p>
            <div class="inner">
                <img src="images/test-0.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 fillImages">
            <div class="inner">    
                <img src="images/test-1.jpg">
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 fillImages">
            <div class="inner">
                <img src="images/test-2.jpg">
            </div>
        </div>        
    </div>
</div>

<div class="container-fluid textItem">
    <div class="row">
        <div class="col-xs-12">
            <h1>Studio Deeg</h1>
            <h2>Zo simpel kan het zijn</h2>
        </div>
    </div>
</div>