



// DEFAULTS

@defaultBorderRadius : 5px;
@defaultPadding : 10px;
@defaultItemMargin : 20px;


// COLORS

@greenDark : #2A706A;
@greenLight : #86CCC6;
@greenMenu : #77BBB5;
@blueLight : #8AC6D9;
@pink : #D29BCC;

.pink{
    color: @pink;
}


.table{
    display: table;
    width: 100%;
    height: 100%;
}

.cell{
    display: table-cell;
    width: 100%;
    height: 100%;
}


// NAVIGATION

@mainNavigationHeight: 60px;

@sansFont : 'Roboto', sans-serif;
@serifFont : 'Merriweather', serif;
@bodyFontColor: #747474;


.topMargin-80{
    margin-top: 80px;
}

.marginBottom-40{
    margin-bottom: 40px;
}
