

nav{
    

    padding: 80px;

    #brand{
        display:inline;
    }

    #navigationItems{
        //display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100;       
        color: #fff;


        .background{
            
            
            background: pink;
            opacity:0;
            width: 0%;
            height: 100%;
            position: absolute;
            .transition(0.2s);
            -webkit-transition: 0.2s;
        }

        
        .cell{
            vertical-align: middle;
            position: relative;
            z-index: 2;

            .transition(0.8s);
            
        }


        ul{
            .unStyledList();
            
            li{
                margin-left: 10px;                
                a{
                    text-decoration:none;
                }
            }
        }


        &.open{
            display: block;

            .background{
                opacity:1;
                width:100%;
            }
        }
    }

    // MENU TOGGLE BUTTON

    #menuToggle{
        position: relative;
        z-index: 101;
        .pull-right();

        width:40px;
        float:left;
        height: 26px;        
        .border-radius(2px);
        padding: 10px 5px;
        cursor:pointer;
        
        .inner{
            position:relative;
            width:30px;
            height: 26px;
        }
        
        span{
            display:block;            
            width:30px;
            height: 2px;
            background: #333;
            position:absolute;
            .transition(0.2s);
            .rotate(0deg);
            .border-radius(2px);
            
            &.lt{
                width:15px;
                left:0;
                top:0;
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                .border-right-radius(0px);
            }
            &.rt{
                width:15px;
                right:0;
                top:0;
                transform-origin: 100% 0%;
                -webkit-transform-origin: 100% 0;
                .border-left-radius(0px);
            }
            &.middle{
                top:12px;
            }
            &.lb{
                width:15px;
                left:0;
                bottom:0;
                transform-origin: 0 0;
                -webkit-transform-origin: 0 0;
                .border-right-radius(0px);
            }
            &.rb{
                width:15px;
                right:0;
                bottom:0;
                transform-origin: 100% 0%;
                -webkit-transform-origin: 100% 0;
                .border-left-radius(0px);
            }
        }

        // OPENED

        &.open{
        
            span{
                &.lt{
                    .rotate(45deg);
                    width: 17px;
                    top:1px;
                }
                &.rt{
                    .rotate(-45deg);
                    width: 17px;
                    top:1px;
                    right: 7px;
                }
                &.lb{
                    .rotate(-45deg);
                    width: 17px;

                }
                &.rb{
                    .rotate(45deg);
                    width: 17px;
                    right: 7px;
                }

                &.middle {
                    opacity:0;
                }
            }
        }
    }





    // 
    //  RESPONSIVENESSS
    //

    @media only screen and (max-width : @screen-sm-max) {
        padding : 60px;    
    }

}