

//
//  TYPOGRAPHY.LESS
//

body{
    font-family:@sansFont;
    font-weight: 100;
}


h1,h2,h3,h4,h5{
    font-weight: 100;
}


h1{
    font-size: 48px;
    font-weight:100;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 22px;
}

h4{

}
h5{
    margin:0;
}

p{
    font-weight: 100;
}

// REPSONSIVE

@media (max-width: @screen-md-min) {

    h1{
        font-size: 36px;
    }

    h2{
        font-size: 22px;
    }

    h3{
        font-size: 18px;
    }

}